<app-shell
  [activeModule]="activeModule"
  [dashboard]="dashboard"
  [(selectedUser)]="selectedUser"
  (moduleChanged)="setModule($event)"
  (refresh)="refreshAll()"
>
  @if (activeModule === 'Painel') {
    <app-dashboard-view [dashboard]="dashboard" (alertVerify)="verifyAlert($event)" />
  }

  @if (activeModule === 'Produtos') {
    <app-products-workbench
      [products]="products"
      [columns]="productColumns"
      (createClicked)="openProductDialog()"
      (viewClicked)="openProductDialog('view', $event)"
      (editClicked)="openProductDialog('edit', $event)"
      (deleteClicked)="deleteProduct($event)"
    />
  }

  @if (activeModule === 'Pedidos') {
    <app-orders-workbench
      [orders]="orders"
      [columns]="orderColumns"
      (createClicked)="openOrderDialog()"
      (viewClicked)="openOrderDialog('view', $event)"
      (editClicked)="openOrderDialog('edit', $event)"
      (deleteClicked)="deleteOrder($event)"
    />
  }

  @if (activeModule === 'Estoque') {
    <app-inventory-workbench
      [movements]="movements"
      [columns]="movementColumns"
      (createClicked)="openInventoryDialog()"
      (viewClicked)="openInventoryDialog('view', $event)"
      (editClicked)="openInventoryDialog('edit', $event)"
      (deleteClicked)="deleteMovement($event)"
    />
  }
</app-shell>
